html, body { 
    margin: 0; 
    padding: 0; 
}

.flex_container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

article {

}

footer {

}

.flex_item {
    flex: 1; /* flex: 1 1 0 */
    overflow: auto;
}
