html, body { 
    margin: 0; 
    padding: 0; 
    height: 100%;
}

.flex_container {
    display: flex;
    flex-direction: column;
    height: 100%;

    main {
        flex-grow: 6;

        .content {
            height: 100%;
            width: 50%;
            margin: 0 auto;
            display: flex;
            flex-direction: row;

            .preview {
                flex-grow: 4;
                position: relative;

                img {
                    position: absolute;
                }

                img#phone {
                    right: 0px;
                    bottom: 80px;
                }

                img#screenshot {
                    right: 63px;
                    bottom: 172px;
                }
            }

            .todo {
                height: 100%;
                margin-top: 40px;
                margin-left: 10px;
                margin-right: 50px;
                overflow: hidden;
                flex-grow: 1;
                display: flex;
                flex-direction: column;

                .form {
                    background-color: #fff;
                    border: 1px solid #e6e6e6;
                    border-radius: 1px;
                    margin: 0px 60px 0px 5px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    .logo {
                        overflow: hidden;
                        max-height: 64px;
                        margin: 20px auto 10px;
                    }

                    h2 {
                        margin: 0 auto;
                        color: #999;
                        text-align: center;
                        font-size: 17px;
                    }
                }
            }
        }
    }

    footer {
        flex-grow: 1;
    }
}
